/*todas las páginas*/
*{
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

/*gift de Rick y Morty*/
.barra{
  text-align: center; 
  height: 3.125em;
  width: auto;
}
img#RyMimag{
    width: 20em;
    height: 12.5em; 
    height: auto;
    text-align: center;
}
/*nombre de la serie*/
.title{
   text-align: center;
   padding: 1.50em;
}
img#logo{
    width: 18em;
    height:12.5em;
    height: auto;
}
/*fondo de home*/
body#portada{
     background-image: url(img/fondoEstrellas.jpg);
     height: 100vh;
}
/*main de home*/
main{
    text-align: center;
} 
/*texto en home*/
.text{
    color: white;
    font-size: 1.15em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
/*botones de home*/
.buttons{
   width: 100%;
   text-align:center;
   display: inline-block;
   text-align: center;
   color: white;
   font-size: 1.05em;
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   

}

.Rick{
  width: 11.5em;
  height:11.5em;  
  padding: 1.5625em;
  /*padding-right: 8.125em;*/
  /*border-radius: 1.9em;*/
  box-shadow: 0 8px 16px 0 white, 0 6px 20px 0 green;
  
 }
.Morty{
    width: 11.25em;
    height: 11.25em;
   /* padding: 1.5625em;*/
    box-shadow: 0 8px 16px 0 white, 0 6px 20px 0 green;
    border-radius: 1.9em;
  }
/*copyright de las 3 páginas*/
.copyright{
    color: white;
    text-align: center;
    padding-bottom: 0em;
}
 /*fondo de  paginas de memory match*/
 .second{
    background-image: url(img/fondoCartas.jpg);
    background-position: center center;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 100vh; 
}
 
/*header nav {
	width:100%;
	margin:20px auto;
   
}
h1{
    color: aliceblue;
}*/
/*esto es section*/
.memory-game {
    width: 520px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
  /*esto es el div*/
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
  
.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
.memory-card.flip {
    transform: rotateY(180deg);
  }
  
.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    background: white;
    backface-visibility: hidden;
    object-fit: cover;
}
 
/*front-face {
    transform: rotateY(180deg);
}*/
 

/*
@media screen and (max-width: 700px) {
    .buttom {   
      flex-direction: column;
      flex: 100%;
      }  
}
@media screen and (max-width: 700px) {
    .second {   
      flex-direction: column;
      flex: 100%;
      }  
}
/*@media screen and (min-width: 480px) {
    .text{font-size:1.5625em;
    }
}
 para 980px o menos 
@media screen and (max-width:980px) {
    body{
        width:98%;
    }
    main{
        width:68%;
    }
}

/* para 700px o menos 
@media screen and (max-width:700px) {
    body {
        width:96%;
    }
    .text {
        font-size:1.2em;
    }
    .buttons {
        margin-right:.3125em;
        margin-left: .3125em;
    }

}

/* para 480px o menos 
@media screen and (max-width:480px) {//
    body{//
        width:80%;
    }//
    .buttons{//
        width: 60%;
    }//
    .text {//
        font-size:80%;
    }//
}*/
