*{
    margin: 0em;
    padding: 0em;
}
.barra{
  text-align: center; 
  height: 3.125em;
  width: auto;
}
.RyMimag{
    width: 20em;
    height: 12.5em;
    max-width: 100%; 
    height: auto;
    text-align: center;
}
.title{
   text-align: center;
   padding: 1.50em;
}
.logo{
    width: 18em;
    height:12.5em;
    max-width: 100%; 
    height: auto;
}
body#portada{
    background-color: rgb(1, 8, 4);
}
main{
    text-align: center;
}
.text{
    color: white;
    font-size: 1.15em;
    padding-left: 2.5em;
    padding-right: 2.5em;
}
.buttons{
   width: 100%;
   text-align:center;
   display: inline-block;
   text-align: center;
}

.Rick{
  width: 11.5em;
  height:11.5em;  
  padding: 1.5625em;
  padding-right: 8.125em;
}
.Morty{
    width: 10.25em;
    height: 10.25em;
    padding: 1.5625em;
  }

.copyright{
    color: white;
    text-align: center;
    padding-bottom: 0em;
}
/*css a las dos paginas de memory match*/
 body#second{
     background-image: url("secondfondo.jpg");
     background-size: cover;
     background-repeat: no-repeat;
 }
/*@media screen and (min-width: 480px) {
    .text{font-size:1.5625em;
    }
}
 para 980px o menos 
@media screen and (max-width:980px) {
    body{
        width:98%;
    }
    main{
        width:68%;
    }
}

/* para 700px o menos 
@media screen and (max-width:700px) {
    body {
        width:96%;
    }
    .text {
        font-size:1.2em;
    }
    .buttons {
        margin-right:.3125em;
        margin-left: .3125em;
    }

}

/* para 480px o menos 
@media screen and (max-width:480px) {//
    body{//
        width:80%;
    }//
    .buttons{//
        width: 60%;
    }//
    .text {//
        font-size:80%;
    }//
}*/